/* screening start */
@media(max-width: 991px) {
  header {
    position: relative;
  }

  .footer-top > .container {
    width: 100%;
    padding: 0 30px !important;
  }
  .price-box{margin-top: 30px; margin-bottom: 30px;}
  .hidden-box-mobile{    display: block;  }
  .hidden-box-desktop{    display: none;  }

  .logobar {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  [data-height^="h-"] {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    height: 100%;
    width: auto;
  }

  .price-header > h1:before {
    width: 100%;
    left: 0;
  }

  .dotts {
    display: none !important;
  }

  .pricing-block p span.the-Price {
    display: inline-block;
    padding-left: 10px;
    margin-left: 15px;
    position: relative;
  }

  .pricing-block p span.the-Price:before {
    position: absolute;
    content: '';
    width: 10px;
    height: 2px;
    background: rgba(0,0,0,.5);
    right: 100%;
    top: 50%;
  }
}
@media(max-width: 767px) {
  .career-form input {
    float: none !important;
    width: 100% !important;
  }

  .footer-top * {
    text-align: center !important;
  }

  .footer-top .show {
    margin: 30px auto;
  }

  .footer-top a {
    margin-left: 0;
  }
}

@media(max-width: 600px) {
  .other-heading span{
    width: calc(100% - 10px);
  }

  .main-banner {
    height: 500px;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
  }

  .seo-banner,
  .display-banner,
  .pricing-banner,
  .contact-bg {
    -webkit-background-size: 100% 100% !important;
    background-size: 100% 100% !important;
  }

  .content-block-small span {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media(max-width: 500px) {
  .content-block-small > .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .content-block-small .px-20 {
    padding-left: 0;
    padding-right: 0;
  }

  .pricing-block p span.the-Price {
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 0;
  }

  .pricing-block p span.the-Price:before {
    position: absolute;
    content: '';
    width: 100px;
    height: 2px;
    background:transparent;
    border-top: 1px dotted rgba(0,0,0,.5) !important;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
    top: 10px;
  }

  .pricing-block p,
  .pricing-block p span.the-Price {
    line-height: 1;
  }

  .pricing-block p:not(:last-of-type) {
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin-bottom: 20px;
  }
}

@media(max-width: 450px) {
  .button-primary {
    padding: 0 1em;
    font-size: 1em;
  }

  .footer-top p {
    font-size: 12px;
    letter-spacing: .1em;
  }
}
/* screening end */

.hidden-box-mobile{
  display: none;
}

